.about-us {
  height: 100vh;
  width: 75%;
  margin: 0 auto;
  padding-top: 7%;
  display: flex;
  overflow: hidden;
  .info {
    width: 45%;
    &__name {
      color: lighten($main-color, 50%);
      font-size: 1.5em;
      font-weight: 400;
    }
    &__title {
      margin-bottom: 4%;
      font-size: 3.5em;
      font-weight: 300;
      span {
        color: lighten($main-color, 50%);
      }
    }
    &__text {
      line-height: 180%;
      font-size: 1.2em;
      margin-bottom: 8%;
      font-weight: 100;
    }
    &__container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      &__element {
        display: flex;
        width: 49%;
        margin-bottom: 10%;
        .icon {
          position: relative;
          min-width: 20%;
          max-width: 20%;
          max-height: 35%;
          margin-right: 5%;
          background-color: lighten($main-color, 15%);
          border-radius: 5px;
          transition: 0.3s linear;
          i {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 1.5em;
            color: lighten($main-color, 70%);
            transition: 0.2s linear;
          }
        }
        .description {
          h2 {
            font-size: 1.6em;
            font-weight: 400;
            margin-bottom: 5%;
          }
          p {
            font-weight: 100;
            line-height: 150%;
          }
        }
        &:hover .icon {
          transform: translateY(-10px);
          background-color: lighten($main-color, 50%);
        }
        &:hover i {
          color: lighten($main-color, 100%);
        }
      }
    }
  }
  .image {
    width: 55%;

    img {
      width: 100%;
    }
  }
}
