.about-us {
  height: 100%;
  width: 75%;
  margin: 0 auto;
  padding-top: 7%;
  display: flex;
  overflow: hidden;
  .info {
    width: 45%;
    &__name {
      color: lighten($main-color, 50%);
      font-size: 1.5em;
      font-weight: 400;
    }
    &__title {
      margin-bottom: 4%;
      font-size: 3.5em;
      font-weight: 300;
      span {
        color: lighten($main-color, 50%);
      }
    }
    &__text {
      line-height: 180%;
      font-size: 1.2em;
      margin-bottom: 8%;
      font-weight: 100;
    }
    &__container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      &__element {
        display: flex;
        width: 49%;
        margin-bottom: 10%;
        .icon {
          position: relative;
          min-width: 20%;
          max-width: 20%;
          max-height: 35%;
          margin-right: 5%;
          background-color: lighten($main-color, 15%);
          border-radius: 5px;
          transition: 0.3s linear;
          i {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 1.5em;
            color: lighten($main-color, 70%);
            transition: 0.2s linear;
          }
        }
        .description {
          h2 {
            font-size: 1.6em;
            font-weight: 400;
            margin-bottom: 5%;
          }
          p {
            font-weight: 100;
            line-height: 150%;
          }
        }
        &:hover .icon {
          transform: translateY(-10px);
          background-color: lighten($main-color, 50%);
        }
        &:hover i {
          color: lighten($main-color, 100%);
        }
      }
    }
  }
  .image {
    width: 55%;

    img {
      width: 100%;
    }
  }
  @media only screen and (max-width: 1400px) {
    height: 100%;
    width: 80%;
    padding-top: 0;
    flex-direction: column-reverse;
    .info {
      width: 100%;
      &__name {
        font-size: 1.7em;
        font-weight: 700;
      }
      &__title {
        margin-bottom: 3%;
        font-size: 2.4em;
        font-weight: 300;
        span {
          font-weight: 700;
        }
      }
      &__text {
        line-height: 180%;
        font-size: 1.4em;
        margin-bottom: 5%;
        font-weight: 100;
      }
      &__container {
        flex-direction: row;
        justify-content: space-evenly;
        &__element {
          flex-direction: column;
          width: 45%;
          margin-bottom: 6%;
          .icon {
            min-width: 13%;
            max-width: 13%;
            height: 7vh;
            margin-right: 0;
            margin-bottom: 3%;
          }
          .description {
            h2 {
              font-size: 2em;
              margin-bottom: 3%;
            }
            p {
              font-size: 1.4em;
              font-weight: 100;
              line-height: 150%;
            }
          }
        }
      }
    }
    .image {
      width: 100%;
      text-align: center;
      img {
        width: 70%;
      }
    }
  }

  @media only screen and (max-width: 1000px) {
    width: 90%;
    padding-top: 5%;
    .info {
      &__title {
        margin-bottom: 8%;
      }
      &__text {
        margin-bottom: 10%;
      }
      &__container {
        flex-direction: column;
        justify-content: space-between;
        &__element {
          width: 100%;
          .icon {
            min-width: 10%;
            max-width: 10%;
          }
        }
      }
    }
    .image {
      width: 90%;
    }
  }
  @media only screen and (max-width: 800px) {
    .info {
      width: 100%;
      &__name {
        font-size: 1.6em;
      }
      &__title {
        margin-bottom: 8%;
        font-size: 2.3em;
      }
      &__text {
        font-size: 1.3em;
        margin-bottom: 10%;
      }
      &__container {
        &__element {
          margin-bottom: 10%;
          .icon {
            min-width: 12%;
            max-width: 12%;
            height: 8vh;
            margin-bottom: 5%;
          }
          .description {
            h2 {
              font-size: 1.9em;
              margin-bottom: 5%;
            }
            p {
              font-size: 1.3em;
            }
          }
        }
      }
    }
    .image {
      width: 100%;
    }
  }
  @media only screen and (max-width: 600px) {
    padding-top: 20%;
    .info {
      &__name {
        font-size: 1.3em;
      }
      &__title {
        font-size: 2em;
      }
      &__text {
        font-size: 1.1em;
      }
      &__container {
        &__element {
          .icon {
            min-width: 18%;
            max-width: 18%;
          }
          .description {
            h2 {
              font-size: 1.6em;
            }
            p {
              font-size: 1em;
              font-weight: 100;
              line-height: 150%;
            }
          }
        }
      }
    }
  }
}
