.choose-us {
  width: 75%;
  margin: 0 auto;
  height: 100vh;
  padding-top: 7%;
  .title {
    text-align: center;
    font-size: 5em;
    letter-spacing: 2px;
    text-transform: uppercase;
    span {
      color: lighten($main-color, 50%);
    }
  }
  .why-choose-us {
    margin-top: 7%;
    display: flex;
    max-height: 70%;
    justify-content: space-between;
    &__section {
      width: 33%;
      .element {
        display: flex;
        padding: 5%;
        width: 90%;
        height: 30%;
        margin-bottom: 5%;
        background-color: lighten($main-color, 5%);
        border: 1px solid gray;
        border-radius: 15px;
        .icon {
          position: relative;
          min-width: 20%;
          max-width: 20%;
          max-height: 50%;
          margin-right: 10%;
          background-color: lighten($main-color, 50%);
          border-radius: 15px;
          i {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 1.3em;
            color: darken(white, 15%);
            transition: 0.2s linear;
          }
        }
        .description {
          h2 {
            text-transform: uppercase;
            margin-bottom: 5%;
          }
        }
      }
    }
    &__img {
      text-align: center;
      width: 33%;
      margin-right: 5%;
      img {
        height: 100%;
      }
    }
  }
  @media only screen and (max-width: 800px) {
    height: 100%;
    width: 100%;
    padding-top: 15%;
    .title {
      font-size: 4em;
    }
    .why-choose-us {
      height: 100%;
      margin-top: 7%;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      &__section {
        width: 100%;
        .element {
          padding: 5%;
          width: 90%;
          margin-left: 5%;

          .icon {
            min-width: 15%;
            max-width: 15%;
            max-height: 7vh;
          }
        }
      }
      &__img {
        width: 100%;
        margin-right: 5%;
        img {
          height: 100%;
          width: 100%;
        }
      }
    }
  }
  @media only screen and (max-width: 600px) {
    padding-top: 25%;
    .title {
      font-size: 3.6em;
    }
    .why-choose-us {
      &__section {
        .element {
          .icon {
            min-width: 18%;
            max-width: 18%;
            max-height: 8vh;
          }
        }
      }
    }
  }
}
