.footer {
  padding: 3%;
  a {
    color: white;
    text-decoration: none;
    margin-inline: 1%;
    font-size: 2em;
    &:hover {
      color: $second-color;
      cursor: pointer;
    }
  }
  .links {
    text-align: center;
    a {
      margin-inline: 1%;
      font-size: 2em;
    }
  }
  .privacy {
    margin-top: 2%;
    text-align: center;
    a {
      font-size: 1.5em;
    }
  }
  @media only screen and (max-width: 360px) {
    padding: 5%;
  }
}
