.welcome {
  margin-top: 15%;
  margin-left: 5%;
  position: absolute;
  width: 35%;
  &__title {
    font-size: 3.5em;
    text-transform: uppercase;
    text-align: center;
    span {
      color: $second-color;
    }
  }
  .bitcoin-animation {
    position: absolute;
    top: 2%;
    left: -2%;
    max-width: 50px;
    max-height: 50px;
    animation: upAndDown 3s infinite ease-in-out;
  }
  .ethereum-animation {
    position: absolute;
    top: 2%;
    right: -2%;
    max-width: 50px;
    max-height: 50px;
    animation: upAndDown 3s infinite ease-in-out;
  }
  @keyframes upAndDown {
    0%,
    100% {
      transform: translateY(0);
    }
    25%,
    75% {
      transform: translateY(-20px);
    }
    50% {
      transform: translateY(0);
    }
  }
  &__coins {
    margin-top: 7%;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    .coin {
      &__icon {
        max-width: 75px;
        max-height: 75px;
      }
      &__name {
        font-size: 1.3em;
      }
      &__percent {
        font-weight: 700;
      }
      &__price {
        margin-top: 5%;
        font-weight: 700;
      }
    }
  }
  @media only screen and (max-width: 1650px) {
    .bitcoin-animation {
      top: 15%;
      left: -10%;
    }
    .ethereum-animation {
      top: 15%;
      right: -10%;
    }
  }
  @media only screen and (max-width: 1200px) {
    margin-top: 25%;
    margin-left: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    &__title {
      font-size: 3em;
    }
    .bitcoin-animation {
      top: 10%;
      left: -18%;
    }
    .ethereum-animation {
      top: 10%;
      right: -18%;
    }
    &__coins {
      margin-top: 7%;
      flex-wrap: wrap;
      .coin {
        width: 25%;
        margin-block: 10%;
        &__icon {
          max-width: 65px;
          max-height: 65px;
        }
      }
    }
  }

  @media only screen and (max-width: 800px) {
    width: 50%;
    &__coins {
      .coin {
        width: 50%;
      }
    }
  }
  @media only screen and (max-width: 600px) {
    width: 60%;
    &__title {
      font-size: 2.4em;
    }
    .bitcoin-animation {
      top: 12%;
      left: -25%;
    }
    .ethereum-animation {
      top: 12%;
      right: -25%;
    }
  }
}
