<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CryptoCoin</title>
    <link rel="icon" href="./images/web-icon.png" type="image/x-icon" />
  </head>
  <body>
    <div class="welcome-page">
      <nav class="menu">
        <h1 class="menu__title">CryptoCoin</h1>
        <ul class="menu__list">
          <li class="menu__list__item home">Home</li>
          <li class="menu__list__item market">Market</li>
          <li class="menu__list__item about-us">About Us</li>
          <li class="menu__list__item choose-us">Choose Us</li>
        </ul>
      </nav>
      <section class="welcome">
        <img
          class="bitcoin-animation"
          src="./images/bitcoin.svg"
          alt="bitcoin"
        />
        <h1 class="welcome__title">track and trade crypto currencies</h1>
        <img
          class="ethereum-animation"
          src="./images/ethereum-eth.svg"
          alt="ethereum-"
        />
        <div class="welcome__coins">
          <div class="coin">
            <img class="coin__icon" src="" alt="" />
            <p class="coin__name"><span class="coin__percent"></span></p>
            <p class="coin__price"></p>
          </div>
          <div class="coin">
            <img class="coin__icon" src="" alt="" />
            <p class="coin__name"><span class="coin__percent"></span></p>
            <p class="coin__price"></p>
          </div>
          <div class="coin">
            <img class="coin__icon" src="" alt="" />
            <p class="coin__name"><span class="coin__percent"></span></p>
            <p class="coin__price"></p>
          </div>
          <div class="coin">
            <img class="coin__icon" src="" alt="" />
            <p class="coin__name"><span class="coin__percent"></span></p>
            <p class="coin__price"></p>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
