<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CryptoCoin</title>
    <link rel="icon" href="./images/web-icon.png" type="image/x-icon" />
    <script
      src="https://kit.fontawesome.com/9be3efa245.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>
  <body>
    <div id="home" class="welcome-page">
      <nav class="menu">
        <h1 class="menu__title"><a href="#home">CryptoCoin</a></h1>
        <ul class="menu__list">
          <li class="menu__list__item"><a href="#home">Home</a></li>
          <li class="menu__list__item"><a href="#market">Market</a></li>
          <li class="menu__list__item"><a href="#about-us">About Us</a></li>
          <li class="menu__list__item"><a href="#choose-us">Choose Us</a></li>
        </ul>
        <div class="menu__socials">
          <a href="https://github.com/Cepako" target="_blank"
            ><i class="fa-brands fa-github"></i
          ></a>
        </div>
      </nav>
      <section class="welcome">
        <img
          class="bitcoin-animation"
          src="./images/bitcoin.svg"
          alt="bitcoin"
        />
        <h1 class="welcome__title">
          track and trade <span>crypto currencies</span>
        </h1>
        <img
          class="ethereum-animation"
          src="./images/ethereum-eth.svg"
          alt="ethereum-"
        />
        <div class="welcome__coins">
          <div class="coin">
            <img class="coin__icon" src="" alt="" />
            <p class="coin__name"><span class="coin__percent"></span></p>
            <p class="coin__price"></p>
          </div>
          <div class="coin">
            <img class="coin__icon" src="" alt="" />
            <p class="coin__name"><span class="coin__percent"></span></p>
            <p class="coin__price"></p>
          </div>
          <div class="coin">
            <img class="coin__icon" src="" alt="" />
            <p class="coin__name"><span class="coin__percent"></span></p>
            <p class="coin__price"></p>
          </div>
          <div class="coin">
            <img class="coin__icon" src="" alt="" />
            <p class="coin__name"><span class="coin__percent"></span></p>
            <p class="coin__price"></p>
          </div>
        </div>
      </section>
    </div>
    <div id="market" class="market">
      <div class="market__wrapper">
        <h1 class="market__wrapper__title">
          Cryptocurrency Prices by Market Cap
        </h1>
        <table></table>
      </div>
      <div class="market__pages">
        <a class="market__pages__page" id="first" href="#market">1</a>
        <a class="market__pages__page" id="second" href="#market">2</a>
        <a class="market__pages__page" id="third" href="#market">3</a>
        <a class="market__pages__page" id="fourth" href="#market">4</a>
        <a class="market__pages__page" id="fifth" href="#market">5</a>
      </div>
    </div>
    <div id="about-us" class="about-us"></div>
    <div id="choose-us" class="choose-us"></div>
  </body>
</html>
